<!DOCTYPE html>
{% load staticfiles %}
{% load cart_tags %}
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="grocery store responsive cart ecommerce" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
<body>
{% block at_top %}{%endblock%}
<!-- header -->
	<div class="agileits_header">
		<div class="w3l_offers">
			<a href="{% url 'blog:index' %}">Visit our BLOG!!</a>
		</div>
		
		<div class="product_list_header">  
             <a href="{% url 'cart' %}" class="btn btn-lg btn-danger">Cart - <span class="badge">&#8377;{% cart_amount %}</span> <i class="fa fa-shopping-cart"></i> <span class="badge">{% cart_count %}</span></a>
		</div>
		<div class="w3l_header_right">
			<ul class="topbar list-inline">
			{% if user.is_authenticated  %}
				<li style="color:white;">Hi, <a href="{% url 'profile_page' %}">{{ request.user.profile.first_name }}</a></li>
				<li><a href="{% url 'profile_page' %}"><img class="topbar-profile img-circle" src="{{ request.user.profile.picture.url }}"/></a></li>
			{% else %}
				<li style="color:white;">Hi, Stranger</a></li>
				<li><img class="topbar-profile img-circle" src="{% static 'images/empty-user-photo.png' %}"/></li>
			{% endif %}
				<li class="dropdown profile_details_drop">
					<a href="#" class="dropdown-toggle drp" data-toggle="dropdown"><span class="caret"></span></a>
							<ul class="dropdown-menu drp-mnu">
							{% if user.is_authenticated %}
								<li><a href="{% url 'auth_logout' %}?next={% url 'index' %}">Logout</a></li>
							{% else %}
								<li><a href="{% url 'auth_login' %}">Login</a></li> 
								<li><a href="{% url 'registration_register' %}">Sign Up</a></li>
							{% endif %}
							</ul>
				</li>
			</ul>
		</div>

		<div class="w3l_header_right1">
			<h2><a href="#contactModal" data-toggle="modal">Contact Us</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div><!--contact us modal-->
<div id="contactModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Contact</h4>
                    </div>
                    <div class="modal-body">
	<div class="container">
    <div class="col-lg-offset-4 col-lg-4" id="panel">
        <h2>Get In Touch</h2>

        <form>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile No</label>
            </div>

            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Message</label>
            </div>
            <div class="group">
                <center> <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button></center>
            </div>
        </form>

    </div>
</div>
</div><!-- End of Modal body -->
                </div><!-- End of Modal content -->
            </div><!-- End of Modal dialog -->
        </div><!-- End of Modal -->
<!--//contact us modal-->
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->

	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="{% url 'index' %}"><span>Fruit</span> Club</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="{% url 'about' %}">About Us</a><i>/</i></li>
					<li><a href="#">Best Deals</a><i>/</i></li>
					<li><a href="#">Services</a></li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+91) 123456789</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:mayankkushal26@gmail.com">mayankkushal26@gmail.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--popups-->
	<div id="not-logged">
		<p><a href="{% url 'auth_login' %}">Login</a> or <a href="{% url 'registration_register' %}">Register</a> to add to Cart</p>
	</div>
	<!--//-->
<!-- //header -->
<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			   </div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="{% url 'category' category_slug='fruit' %}">Fruits</a></li>
						<li><a href="{% url 'category' category_slug='juice' %}">Juice</a></li>
						
						<li><a href="{% url 'cart' %}">Cart</a></li>
					</ul>
				 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
			{% block body_block %}{% endblock %}
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="col-md-3 w3_footer_grid">
				<h3>information</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="{% url 'about' %}">About Us</a></li>
					<li><a href="#">Best Deals</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="{% url 'cart' %}">Cart</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>policy info</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="faqs.html">FAQ</a></li>
					<li><a href="privacy.html">privacy policy</a></li>
					<li><a href="privacy.html">terms of use</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>what in stores</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="{% url 'category' category_slug='fruit' %}">Fruit</a></li>
					<li><a href="{% url 'category' category_slug='juice' %}">Juice</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>twitter posts</h3>
				<ul class="w3_footer_grid_list1">
					<li>Coming Soon...</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="agile_footer_grids">
				<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
					<div class="w3_footer_grid_bottom">
						<h4>100% secure payments</h4>
						<img src="{% static 'images/card.png' %}" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
					<div class="w3_footer_grid_bottom">
						<h5>connect with us</h5>
						<ul class="agileits_social_icons">
							<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- costum js file -->
<script src="{% static 'js/main.js' %}"></script>
<!--//-->
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>