{% extends 'fruitclub/base.html' %}
{% load staticfiles %}
{% load cart_tags %}
{% block title %}Cart{% endblock %}

{% block body_block %}
	<div class="container-fluid">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
					{% for product in product_list %}
						<tr>
							<td data-th="Product">
								<div class="row">
									{% with product.product.images.all|first as image %}
									<div class="col-sm-2 hidden-xs"><img src="{{ image.image.url }}" alt="..." class="img-responsive"/></div>
									{% endwith %}
									<div class="col-sm-10">
										<h4 class="nomargin">{{ product.product.name }}</h4>
										<p>By {{ product.product.company.name }}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">&#8377;{{ product.product.price }}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" id="prod{{ product.product.id }}" value="{{ product.quantity }}">
							</td>
							<td data-th="Subtotal" class="text-center">&#8377;{% widthratio product.quantity 1 product.product.price %}</td>
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm chng-qty" data-pid="{{ product.product.id }}"><i class="fa fa-refresh"></i></button>
								<button class="btn btn-danger btn-sm rem-item" data-pid="{{ product.product.id }}"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					{% endfor %}
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Cart Total</strong></td>
						</tr>
						<tr>
							<td><a href="{% url 'index' %}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total &#8377;{% cart_amount %}</strong></td>
							<td><a href="{% url 'checkout' %}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>
{% endblock %}