{% extends 'fruitclub/base.html' %}
{% load staticfiles %}
{% block title %}{{ category.name }}{% endblock %}

{% block body_block %}
	<div class="container">
			<h3>{{ category.name }}</h3>
			<div class="agile_top_brands_grids">
				{% for product in product_list %}
				<div class="col-md-4 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block" >
										<div class="snipcart-thumb">
										{% with product.images.all|first as image %}
											<a href="{% url 'single_product' product.slug %}"><img src="{{ image.image.url }}" /></a>
										{% endwith %}		
											<p>{{ product.name }}</p>
											<h4>&#8377;{{ product.price }} </h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<a href="{% url 'single_product' product.slug %}" class=" btn btn-lg btn-danger">See Details</a>
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
{% endblock %}