<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>Super Blog
      </title>
      <meta name="description" content="Download free amazing responsive Fashion Blog template."/>
      <meta name="keywords" content="free, responsive, blog, fashion, web site, template"/>
      <link rel="stylesheet" href="{% static 'css/components.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsee.css' %}">
      <!-- CUSTOM STYLE -->    
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'css/template-style.css' %}">
      <script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>    
      <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/responsee.js' %}"></script>          
      <!--[if lt IE 9]> 
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
      <![endif]-->     
   </head>
   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->          
      <header class="margin-bottom"> 
         <div class="line">
            <nav>
               <div class="top-nav">
                  <p class="nav-text"></p>
                  <a class="logo" href="{% url 'blog:index' %}">            
                  Super<span>Blog</span>
                  </a>            
                  <ul class="top-ul right">
                  {% if user.is_authenticated  %}
                     <li ><a href="{% url 'profile_page' %}">Hi, {{ request.user.profile.first_name }}</a></li>
                     <li><a href="{% url 'profile_page' %}"><img class="topbar-profile img-circle" src="{{ request.user.profile.picture.url }}"/></a></li>
                     <li><a href="{% url 'auth_logout' %}?next={% url 'blog:index' %}">Logout</a></li>
                     {% else %}
                        <li><a href="#">Hi, Stranger</a></li>
                        <li><img class="topbar-profile img-circle" src="{% static 'images/empty-user-photo.png' %}"/></li>
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                        <li><a href="{% url 'registration_register' %}">Signup</a></li>
                     {% endif %}
                     <li>            
                        <a href="{% url 'blog:index' %}">Blog</a>            
                     </li>
                     <li>            
                        <a href="{% url 'index' %}">FruitClub</a>            
                     </li>
                  </ul>
                     <div class="social right">	           
                        <a target="_blank" href="https://www.facebook.com/myresponsee">
                        <i class="icon-facebook_circle icon2x"></i>
                        </a>          
                        <a target="_blank" href="https://twitter.com/MyResponsee">
                        <i class="icon-twitter_circle icon2x"></i>
                        </a>          
                     </div>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
      <!-- MAIN SECTION -->                  
      <section id="home-section" class="line">
         <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-9">
            {% for article in article_list %}
               {% if forloop.counter|divisibleby:2%}
               <!-- ARTICLE 1 -->               
               <article class="post-1 line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-1.html">
                     {% with article.images.all|first as image %}
                     <a href="{% url 'blog:article' article.slug %}"><img src="{{ image.picture.url }}" alt="Fashion 1"></a>
                     {% endwith %}
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="post-1.html">
                        <h2><a href="{% url 'blog:article' article.slug %}">{{ article.name }}</a></h2>
                     </a>
                     <p>{{ article.description }}            
                     </p>
                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
                     <p class="date">{{ article.date_created }}</p>
                     
                  </div>
               </article>
               {% else %}
               <!-- ARTICLE 2 -->            
               <article class="post-2 right-align line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="post-1.html">
                     {% with article.images.all|first as image %}
                     <a href="{% url 'blog:article' article.slug %}"><img src="{{ image.picture.url }}" alt="Fashion 1"></a>
                     {% endwith %}
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="post-1.html">
                        <h2><a href="{% url 'blog:article' article.slug %}">{{ article.name }}</a></h2>
                     </a>
                     <p>{{ article.description }}            
                     </p>
                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
                     <p class="date">{{ article.date_created }}</p>
                  </div>
               </article>
               {% endif %}
               {% endfor %}
               
            </div>
            <!-- SIDEBAR -->             
            <div class="s-12 l-3">
               <aside>
                  <!-- NEWS 1 -->                    
                  <div class="aside-block margin-bottom">
                     <h3>This is the first news on blog</h3>
                     <p>Lorem ipsum dolor sit amet, conse ctetuer. Duis autem vemeu iriure dolor adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                  </div>
                  <!-- NEWS 2 -->              
                  <div class="aside-block margin-bottom">
                     <h3>Second news on the fashion blog</h3>
                     <p>Lorem ipsum dolor sit amet, conse ctetuer. Duis autem vemeu iriure dolor adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                  </div>
               </aside>
            </div>
         </div>
      </section>
      <!-- FOOTER -->       
      <div class="line">
         <footer>
            <div class="s-12 l-8">
               <p>
                  Copyright 2015, Mayank Kushal<br>
               </p>
            </div>
            <div class="s-12 l-4">		                            
               <a class="right" href="http://www.myresponsee.com" title="Responsive framework">Design and coding<br>
               by Mayank Kushal
               </a>                       
            </div>
         </footer>
      </div>
   </body>
</html>